.works-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 100%;
  color: hsl(235, 46%, 20%);
  padding: 20px;
}

.works-form {
  flex: 1 1 300px;
  min-width: 250px;
}

.works-list {
  display: flex;
  width: 100%;
  padding:2px 10px;
  height: 75vh;
  overflow-y: scroll;
  /* min-width: 250px; */
}
.works-list::-webkit-scrollbar{
  width: 1px;
}

.works-form .admin-form {
  background-color: hsl(235, 46%, 95%);
  padding: 15px;
  border-radius: 4px;
}

.admin-form .row {
  display: flex;
  gap: 0.75rem;
}
.admin-form .row .input-group {
  flex: 1 1 0;
}

.works-list .tastcontent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: inherit;
  color: hsl(235, 46%, 20%);
  width: 100%;
}
.listcontentt{
  width: 100%;
  height: 7rem;
  border-radius: 10px;
  padding: 5px 10px;
  overflow-y: scroll;
  background-color: hsl(235, 46%, 20%);
}
.listcontentt::-webkit-scrollbar{
  width: 1px;
}

@media (max-width: 768px) {
  .works-container {
    flex-direction: column;
  }
  .works-form {
    order: -1;
  }
}
